@import url("https://use.typekit.net/yxi2imx.css");

/* FONTS:
    Hairline: 
        font-family: bilo,sans-serif;
        font-weight: 100;
        font-style: normal;

    Light:
        font-family: bilo,sans-serif;
        font-weight: 400;
        font-style: normal;

    Regular:
        font-family: bilo,sans-serif;
        font-weight: 500;
        font-style: normal;

    Medium:
        font-family: bilo,sans-serif;
        font-weight: 600;
        font-style: normal;

    Bold:
        font-family: bilo,sans-serif;
        font-weight: 700;
        font-style: normal;
 */

/* MAIN ELEMENTS: */
body {
    background-color: #303030;
    margin: 0;
}

/* HEADER BAR SECTION */
.header-bar {
    background-color: #34BBED;
    display: flex;
    flex-direction: row;
    color: white;
}

.header-bar-large-text {
    font-family: bilo,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 4rem;
    margin-left: 1rem;
}

.header-bar-smaller-text {
    font-family: bilo,sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 3.5rem;
    margin-left: .5rem;
    /* border: 3px solid black; */
    margin-top: .4rem;
    letter-spacing: -.2rem;

}

.header-bar-smaller-text b {
    font-weight: 400;
}


/* NAVBAR: */
.navbar-container {
    background-color: white;
    font-family: bilo,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;
    margin: auto;
}

.navbar-items {
    padding-left: 6rem;
    margin-top: 0rem;

    list-style-type: none;
    overflow: hidden;
    margin: auto;
    text-align: center;
}

.navbar-items li {
    float: left;
}

.navbar-items a {
    display: block;
    color: black;
    text-align: center;
    padding: .75rem 1.5rem;
    text-decoration: none;
    border-left: .5px solid black;
    border-right: .5px solid black;
    margin: auto;
    transition: 0.3s;
}

.navbar-items a:hover {
    background-color: #328b75;
    color: white;
}

#movie-generator-link {
    border-right: 1px solid black;
}

#new-this-week-link {
    border-left: 0px solid black;
}

#login-link {
    border-left: 1px solid black;
    font-weight: 500;
}

#login-link:hover {
    background-color: #32418b;
    color: white;
}

#register-link {
    border-right: 0px solid black;
    padding-right: 1.5rem;
    margin-right: 0rem;
    font-weight: 500;
}

#login-link:hover {
    background-color: #32418b;
    color: white;
}

#register-link:hover {
    background-color: #548b32;
    color: white;
}

#search-bar-actual {
    margin-top: .5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: 1rem;
    width: 15rem;
    height: 2rem;
    border: 1px black solid;
    border-radius: 10px;
    font-size: 1rem;
    font-family: bilo,sans-serif;
    font-weight: 400;
    font-style: normal;
}